<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="" routerLinkActive="active-link">
      <span class="icon">
        <i class="fas fa-home"></i>
      </span>
      <span class="pl-1">
        Accueil
      </span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/films" routerLinkActive="active-link">
        <span class="icon">
          <i class="fa-solid fa-clapperboard"></i>
        </span>
        <span class="pl-1">
          A l'affiche
        </span>
      </a>

      <a class="navbar-item" routerLink="/collection" routerLinkActive="active-link" *ngIf="authService.connectedUser">
        <span class="icon">
          <i class="fa-solid fa-layer-group"></i>
        </span>
        <span class="pl-1">
          Collection
        </span>
      </a>      
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button"  *ngIf="!authService.connectedUser" routerLink="/login" routerLinkActive="active-link">
            <span class="icon">
              <i class="fa-solid fa-user"></i>
            </span>
            <span>Log in</span>
          </button>

          <button class="button" *ngIf="!authService.connectedUser" routerLink="/register" routerLinkActive="active-link">
              <span class="icon">
                <i class="fa-solid fa-right-to-bracket"></i>
              </span>
              <span>Sign up</span>
          </button>

          <button class="button" routerLink="/profile" routerLinkActive="active-link" *ngIf="authService.connectedUser">
            <span class="icon">
              <i class="fa-solid fa-user"></i>
            </span>
            <span>Profile</span>
          </button>

          <button class="button"  *ngIf="authService.connectedUser" routerLinkActive="active-link" (click)="logout()">
            <span class="icon">
              <i class="fa-solid fa-right-from-bracket"></i>
            </span>
            <span>Logout</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>