.card {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card .title {
    font-size: 16px;
}

.card .subtitle {
    font-size: 12px;
}


//TESTING
img {
    border: black solid 1px;
}