<div *ngIf="film" class="container pt-5">


  <div class="columns">
    <div class="column is-8 is-offset-2">

      <div class="columns mb-4" id="general">
        <div class="column is-3">
          <figure class="image is-4by5">
            <img [src]="film.coverPic" />
          </figure>
        </div>
        <div class="column">
          <div class="title">
            {{ film.title }}
          </div>

          <div class="tags genre mb-1">
            <span *ngFor="let type of film.categories" class="{{ type | movieGenreColor }}">
              {{ type }}
            </span>
          </div>

          <div class="date mb-1"> {{film.releaseDate | date:'yyyy'}} | {{film.duration}} minutes</div>

          <div class="rating mb-3">
            <div *ngFor="let i of [1, 2, 3, 4, 5]">
              <i class="fa-solid fa-star"
                [ngClass]="{ active: (film.avarageRating!= undefined) && (i <= film.avarageRating) }">
              </i>
            </div>
          </div>

          <div class="is-size-7 has-text-grey">
            Réalisateur : {{film.director}}
          </div>
          <div class="is-size-7 has-text-grey">
            Acteurs :
            <span *ngFor="let acteur of film.actors"> {{ acteur }}.</span>
          </div>
        </div>
      </div>

      <div class="columns mb-5" id="synopsis">
        <div class="column">
          <div class="columns">
            <div class="column">
              <div class="card has-background-dark">
                <header class="card-header">
                  <p class="card-header-title has-text-light">Synopsis</p>
                </header>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <p>
                {{film.synopsis}}
              </p>
            </div>
          </div>

          <div *ngIf="film.trailerURL" class="columns">
            <div *ngFor="let url of film.trailerURL" class="column is-6">
              <!-- <figure class="image is-16by9">
                <iframe class="has-ratio" width="560" height="315" [src]="url"></iframe>
              </figure> -->
              <div class="title">
                To FIX : {{url}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns" id="critique">
        <div class="column">
          <div class="columns mb-2">
            <div class="column">
              <div class="card has-background-dark">
                <header class="card-header">
                  <p class="card-header-title has-text-light">Critiques</p>
                </header>
              </div>
            </div>
          </div>
          <div class="columns is-multiline">
            <div *ngFor="let review of film?.reviews" class="column is-6">
              <div class="card">

                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4">{{review.name}}</p>
                      <p class="subtitle is-6">@{{review.name}}</p>
                    </div>
                  </div>

                  <div class="content">
                    <div class="limit">
                      {{review.content}}
                    </div>
                    <time datetime="2016-1-1">{{review.date}}</time>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>