.rating {
    display: flex;
}

i {
    color: gray;
}

.active {
    color: orange;
}

.limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}