<div class="container">


    <div class="columns pt-5">
        <div class="column">
            <h1 class="title"> My collection</h1>
            <h2 class="subtitle">La liste des films ajoutés</h2>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <button class="button is-success">Ajouter un film</button>
        </div>
    </div>

    <div class="columns is-multiline">

        <div class="column is-2">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by5">
                        <img src="https://bulma.io/images/placeholders/256x256.png">
                    </figure>
                </div>

                <div class="card-content p-2">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"> Titre </p>
                            <p class="subtitle is-6">2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-2">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by5">
                        <img src="https://bulma.io/images/placeholders/256x256.png">
                    </figure>
                </div>

                <div class="card-content p-2">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"> Titre </p>
                            <p class="subtitle is-6">2022</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="column is-2">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by5">
                        <img src="https://bulma.io/images/placeholders/256x256.png">
                    </figure>
                </div>

                <div class="card-content p-2">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"> Titre </p>
                            <p class="subtitle is-6">2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>