<div class="container">
  <div class="columns pt-5">
    <div class="column">
      <h1 class="title">My collection</h1>
      <h2 class="subtitle">La liste des films ajoutés</h2>
    </div>
  </div>

  <div class="columns is-multiline">
    <div *ngFor="let film of filmList" class="column is-2">
      <div class="card">
        <header class="card-header">
          <div class="card-header-title">
            <div class="rating">
              <div *ngFor="let i of [1, 2, 3, 4, 5]">
                <!-- [ngClass]="{ active: i <= +opinion.note }" -->
                <i
                  class="fa-solid fa-star"
                  (click)="updateNote(film._id, i)"
                  [ngClass]="{ active: i <= findFilmRating(film._id) }"
                >
                </i>
              </div>
            </div>
          </div>

          <button
            (click)="deleteFromCollection(film._id)"
            class="card-header-icon"
            aria-label="more options"
          >
            <span class="icon">
              <i class="fas fa-times" aria-hidden="true"></i>
            </span>
          </button>
        </header>

        <div class="card-image" (click)="goToFilm(film)">
          <figure class="image is-4by5">
            <img [src]="film.coverPic" />
          </figure>
        </div>

        <div class="card-content p-2">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">
                {{ film.title }}
              </p>
              <p class="subtitle is-6">
                {{ film.releaseDate | date : "yyyy" }}
              </p>
            </div>
            <!-- <div class="media-right">
              <button (click)="goToFilm(film)">
                <span class="icon">
                  <i class="fa-solid fa-pen-to-square"></i>
                </span>
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
