<div class="container">
  <div class="columns pt-5">
    <div class="column is-6 has-text-centered is-offset-3">
      <label class="title">{{ authService.connectedUser.data.username }}</label>
      <span class="subtitle">
        {{ authService.connectedUser.data.fullName }}
      </span>

      <div class="columns">
        <div class="column">
          <figure class="image is-128x128 is-inline-block">
            <img
              class="is-rounded"
              src="https://bulma.io/images/placeholders/128x128.png"
            />
          </figure>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <h1 class="title">{{ authService.connectedUser.login }}</h1>
          <h2 class="subtitle">{{ authService.connectedUser.fullName }}</h2>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book.
                </p>
              </div>
              <nav class="level">
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-pen"></i></span>
                </a>
              </nav>
            </div>
          </article>
        </div>
      </div>

      <div class="columns pt-5">
        <div class="column">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Movies</p>
                <p class="title">143</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Reviews</p>
                <p class="title">123</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Avg Stars</p>
                <p class="title">3.6</p>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <hr />
          <div class="heading" style="font-size: 25px">Top 3 movies</div>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by5">
                <img src="https://bulma.io/images/placeholders/256x256.png" />
              </figure>
            </div>

            <div class="card-content p-2">
              <div class="media">
                <div class="media-content">
                  <p class="title is-6">Titre</p>
                  <p class="subtitle is-7">2022</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by5">
                <img src="https://bulma.io/images/placeholders/256x256.png" />
              </figure>
            </div>

            <div class="card-content p-2">
              <div class="media">
                <div class="media-content">
                  <p class="title is-6">Titre</p>
                  <p class="subtitle is-7">2022</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by5">
                <img src="https://bulma.io/images/placeholders/256x256.png" />
              </figure>
            </div>

            <div class="card-content p-2">
              <div class="media">
                <div class="media-content">
                  <p class="title is-6">Titre</p>
                  <p class="subtitle is-7">2022</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
