<div class="container">
  <div class="columns pt-5">
    <div class="column is-6 has-text-centered is-offset-3">
      <div class="columns">
        <div class="column">
          <figure class="image is-128x128 is-inline-block">
            <img
              class="is-rounded"
              src="https://bulma.io/images/placeholders/128x128.png"
            />
          </figure>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <h1 class="title">{{ authService.connectedUser.data.username }}</h1>
          <h2 class="subtitle">
            {{ authService.connectedUser.data.fullName }}
          </h2>
        </div>
      </div>

      <div class="columns pt-5">
        <div class="column">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Movies</p>
                <p class="title">14</p>
              </div>
            </div>
            <!-- <div class="level-item has-text-centered">
              <div>
                <p class="heading">Reviews</p>
                <p class="title">123</p>
              </div>
            </div> -->
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Avg Stars</p>
                <p class="title">3.6</p>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <hr />
          <div class="heading" style="font-size: 25px">Derniers Ajouts</div>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by5">
                <img
                  src="https://image.tmdb.org/t/p/original/hSfuKPtyEryeFzapZ8UgZd4aESu.jpg"
                />
              </figure>
            </div>

            <div class="card-content p-2">
              <div class="media">
                <div class="media-content">
                  <p class="title is-6">Avengers</p>
                  <!-- <p class="subtitle is-7">2022</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by5">
                <img
                  src="https://image.tmdb.org/t/p/original/kTh1s6I6yUyk2OGiRoGkDTYTS6K.jpg"
                />
              </figure>
            </div>

            <div class="card-content p-2">
              <div class="media">
                <div class="media-content">
                  <p class="title is-6">Top Gun Maverick</p>
                  <!-- <p class="subtitle is-7">2022</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by5">
                <img
                  src="https://image.tmdb.org/t/p/original/py8Js6LEl10XhUjkoOj6UGRrSFp.jpg"
                />
              </figure>
            </div>

            <div class="card-content p-2">
              <div class="media">
                <div class="media-content">
                  <p class="title is-6">Captain America : Civil War</p>
                  <!-- <p class="subtitle is-7">2022</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
