<div class="container">
  <div class="columns pt-5">
    <div class="column is-6 has-text-centered is-offset-3">
      <div class="columns">
        <div class="column">
          <figure class="image is-128x128 is-inline-block">
            <img
              class="is-rounded"
              src="https://bulma.io/images/placeholders/128x128.png"
            />
          </figure>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <h1 class="title">{{ authService.getUsername() }}</h1>
          <h2 class="subtitle">
            {{ authService.getFullName() }}
          </h2>
        </div>
      </div>

      <div class="columns pt-5">
        <div class="column">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Movies</p>
                <p class="title">{{authService.connectedUser.data.favFilms.length}}</p>
              </div>
            </div>
            <!-- <div class="level-item has-text-centered">
              <div>
                <p class="heading">Reviews</p>
                <p class="title">123</p>
              </div>
            </div> -->
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Avg Stars</p>
                <p class="title">3.6</p>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <hr />
          <div class="heading" style="font-size: 25px">Derniers Ajouts</div>
        </div>
      </div>

      <div class="columns is-multiline">
        <div *ngFor="let film of filmList" class="column is-2">
          <div class="card">    
            <div class="card-image" (click)="goToFilm(film)">
              <figure class="image is-4by5">
                <img [src]="film.coverPic" />
              </figure>
            </div>
    
            <div class="card-content p-2">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">
                    {{ film.title }}
                  </p>
                  <p class="subtitle is-6">
                    {{ film.releaseDate | date : "yyyy" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>
