<div class="container">
  <div class="columns pt-5">
    <div class="column is-6 is-offset-3 has-text-centered">
      <a class="picture">
        <img src="../../assets/home.png" />

        <div class="field has-addons has-addons-centered">
          <div class="control is-expanded">
            <input class="input is-rounded" name="keyword" type="text" placeholder="Search a movie" [(ngModel)]="keyword" />
          </div>
          <div class="control">
            <a class="button is-link is-rounded" (click)="search()"> Search </a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
