<div class="container">
  <div class="columns pt-5">
    <div class="column has-text-centered">
      <a class="picture">
        <img src="../../assets/home.png" />

        <div class="field has-addons has-addons-centered">
          <div class="control">
            <input class="input" type="text" placeholder="Find a movie" />
          </div>
          <div class="control">
            <a class="button is-info"> Search </a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>