<div class="hero is-fullheight is-link">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box">
            <div class="field">
              <div class="container has-text-centered">
                <figure class="image is-inline-block">
                  <img class="is-rounded" src="../../assets/home.png" />
                </figure>
              </div>
            </div>
            <div class="field">
              <label for="lastName" class="label">Nom</label>
              <div class="control has-icons-left">
                <input
                  name="lastName"
                  class="input"
                  type="text"
                  placeholder="Dupont"
                  [(ngModel)]="lastName"
                />
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="firstName" class="label">Prénom</label>
              <div class="control has-icons-left">
                <input
                  name="firstName"
                  class="input"
                  type="text"
                  placeholder="Jean"
                  [(ngModel)]="firstName"
                />
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="username" class="label">Email</label>
              <div class="control has-icons-left">
                <input
                  name="username"
                  class="input"
                  type="email"
                  placeholder="jean.dupont@test.fr"
                  [(ngModel)]="username"
                />
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="password" class="label">Mot de passe</label>
              <input
                name="password"
                class="input"
                type="password"
                placeholder="********"
                [(ngModel)]="password"
              />
            </div>
            <div class="field has-text-centered">
              <button class="button is-success" (click)="submit()">
                S'inscrire
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
